@model Mjesto

@{
  ViewBag.Title += "Novo mjesto";
}

<h2>Unos novog mjesta</h2>

<form asp-action="Create" method="post">
  <div asp-validation-summary="All"></div>
  <div class="form-group">
    <label asp-for="PostBrMjesta"></label>
    <div><span asp-validation-for="PostBrMjesta" class="text-danger"></span></div>
    <input asp-for="PostBrMjesta" class="form-control" />
  </div>
  <div class="form-group">
    <label asp-for="NazMjesta"></label>
    <div><span asp-validation-for="NazMjesta" class="text-danger"></span></div>
    <input asp-for="NazMjesta" class="form-control" />
  </div>
  <div class="form-group">
    <label asp-for="PostNazMjesta"></label>
    <div><span asp-validation-for="PostNazMjesta" class="text-danger"></span></div>
    <input asp-for="PostNazMjesta" class="form-control" />
  </div>
  <div class="form-group">
    <label asp-for="OznDrzave"></label>
    <div><span asp-validation-for="OznDrzave" class="text-danger"></span></div>
    <select class="form-control" asp-for="OznDrzave" asp-items="ViewBag.Drzave">
      <option disabled selected value="">Odaberite državu</option>
    </select>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" type="submit">Dodaj</button>
    <a asp-action="Index" class="btn btn-default">Odustani</a>
  </div>
</form>